# Cấu hình Web
NEXT_PUBLIC_API_URL=http://localhost:3001
WEB_PORT=3000

# Cấu hình API
PORT=3001
API_PORT=3001
WEB_URL=http://localhost:3000

# Cấu hình Cloudinary (chỉ API runtime)
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
